<div class="page-header">
  <h1>Statuses from the black and white people</h1>
</div>

<% @statuses.each do |status| %>

    <div class="status">
      <strong><%= status.nombre %></strong>
      <p><%= status.contenido %></p>
    <div>
      <%= link_to "Ago " + time_ago_in_words(status.created_at), status %>
    <span class="admin">
      | <%= link_to "Edit", edit_status_path(status) %> |
        <%= link_to "Delete", status, data: { confirm: 'Are you ready?'} %>
    </span>
  </div>
</div>

<% end %>